
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    height: 100vh;
}

.header{
    text-align: center;
    padding: 10px;
    background-color: #0b0b29;
    color: #1e1ec7;
}

.nav{
    background-color: #08083a;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.menu{
    display: flex;
    list-style: none;   
}


.nav a{
    color:#8a8ace;
    text-decoration: none;
    padding: 10px 50px;
    display: flex;
}

.btn-menu{
    display: none;
    border-radius: 6px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: #000027;
    height: 700px;
    padding-top: 30px;
}

.servicos{
    width: 600px;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    background-color: #161647;
    padding: 30px;
    color:#7070cc;
}
.mar{
    margin-bottom: 15px;
}

.sec .servicos span{
    color: white;
}

.secob{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
    height: 228px;
    background-color: #161647;
    color: white;
}

.secob .esp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-family: sans-serif;
    }

.secob a{
    display: block;
    width: 150px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #2e67cf;
    padding: 10px 30px;
    color:white;
    margin-bottom: 5px;
}

.secob div a:hover{
    color: black;
    border: 1px solid white;
}

.secob .esp{
    padding: 60px 0px 0px 0px;
    
}

.foot{
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
    color:#b5c4da ;
    background-color: #000027;
    font-family: sans-serif;
}

.container-servicos{
    background-color: #02070c;   
    font-size: 1.1em;
    padding: 60px;
    overflow: auto; 
    color: white;
}

.container-servicos h1{
    font-size: 2.5em;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    font-family: sans-serif;
}

.container-servicos h3{
    color: #606092;
    padding: 20px;
}

.container-servicos article{
    width: 58%;
    margin: auto;
    float: center;
}

.container-servicos article ul{
    color: gray;
    margin-left: 50px;
}

.container-servicos article ol{
    color: rgb(80, 80, 80);
    margin-left: 50px;
}

.container-contatos{
    background-color: #02070c;   
    font-size: 1.1em;
    padding: 60px;
    overflow: auto; 
    color: white;
    text-align: center;
    font-family: sans-serif;
}

.img{
    margin-top: 30px;
    border: 1px solid;
    border-radius: 10px;
}

.container-contatos article a{
    display: block;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    border: 1px solid blue;
    text-decoration: none;
    color: white;
}

.container-contatos h1{
    font-size: 2em;
    margin-bottom: 8px;
}

@media (max-width: 750px){
    .btn-menu{
        display: flex;
        gap: 10%;
        font-size: bold;
    }
    .nav a{
        padding: 10px 1px;
        color:rgb(11, 241, 241);
        font-family: sans-serif;
        font-size: 20px;
    }
    .menu{
        display: none;
        position: absolute;
        width: 50%;
        right: 50px;
        top: 200px;
        height: 100vh;
        z-index: 10000;
    }

    .nav.active .menu{
        display: block;
        overflow-y: auto;
    }

    .ham{
        width: 20px;
        border-top: 2px solid;
        color: blue;
    }

    .ham::before{
        content: '';
        color: blue;
        display: block;
        width: 20px;
        height: 1px;
        border-top: 2px solid;
        margin-top: 5px;
        transition: 0.5s;
        position: relative;
    }

    .ham::after{
        content: '';
        color: blue;
        display: block;
        width: 20px;
        height: 1px;
        border-top: 2px solid;
        margin-top: 5px;
        transition: 0.5s;
        position: relative;
    }

    .nav.active .ham{
        border-top: transparent;
    }

    .nav.active .ham::before{
        transform: rotate(135deg);
        color: black;
    }

    .nav.active .ham::after{
        transform: rotate(-135deg);
        top: -7px;
        color: black;
    }

}